.rating-star
  display: block
  float: left
  width: 11px
  height: 11px
  margin-right: 2px
  background: url(/rating_star.png) 0 0 no-repeat

.rating-star.half
  width: 6px
  background: url(/rating_star_half.png) 0 0 no-repeat
